#### Will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [0]:
spark

In [0]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('/FileStore/shared_uploads/astartupcto@gmail.com/test1.csv',inferSchema=True)

In [0]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
df_pyspark=spark.read.csv('/FileStore/shared_uploads/astartupcto@gmail.com/test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
type(df_pyspark)

Out[16]: pyspark.sql.dataframe.DataFrame

In [0]:
df_pyspark.head(3)

Out[17]: [Row(Name='Sapan', Age=31, Experience=10, Salary=30000),
 Row(Name='Priyanka', Age=30, Experience=8, Salary=25000),
 Row(Name='Gurpreet', Age=29, Experience=4, Salary=20000)]

In [0]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Sapan|        10|
|Priyanka|         8|
|Gurpreet|         4|
|   Payal|         3|
|   Priya|         1|
|   Aayan|         2|
+--------+----------+

In [0]:
df_pyspark['Name']

Out[20]: Column<'Name'>

In [0]:
df_pyspark.dtypes

Out[21]: [('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [0]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+------------------+
|summary| Name|               Age|       Experience|            Salary|
+-------+-----+------------------+-----------------+------------------+
|  count|    6|                 6|                6|                 6|
|   mean| null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev| null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Aayan|                21|                1|             15000|
|    max|Sapan|                31|               10|             30000|
+-------+-----+------------------+-----------------+------------------+

In [0]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 5 year',df_pyspark['Experience']+5)

In [0]:
df_pyspark.show()

+--------+---+----------+------+-----------------------+
|    Name|Age|Experience|Salary|Experience After 5 year|
+--------+---+----------+------+-----------------------+
|   Sapan| 31|        10| 30000|                     15|
|Priyanka| 30|         8| 25000|                     13|
|Gurpreet| 29|         4| 20000|                      9|
|   Payal| 24|         3| 20000|                      8|
|   Priya| 21|         1| 15000|                      6|
|   Aayan| 23|         2| 18000|                      7|
+--------+---+----------+------+-----------------------+

In [0]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 5 year')

In [0]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+