### Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, MEdian And Mode

In [0]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [0]:
df_pyspark=spark.read.csv('/FileStore/shared_uploads/astartupcto@gmail.com/test2.csv',header=True,inferSchema=True)

In [0]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Sapan|  31|        10| 30000|
|Priyanka|  30|         8| 25000|
| Supriya|  29|         4| 20000|
|   Sainy|  24|         3| 20000|
|    Anil|  21|         1| 15000|
|Gurpreet|  23|         2| 18000|
|  Piyush|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [0]:
##drop the columns
df_pyspark.drop('age').show()

+--------+----------+------+
|    Name|Experience|Salary|
+--------+----------+------+
|   Sapan|        10| 30000|
|Priyanka|         8| 25000|
| Supriya|         4| 20000|
|   Sainy|         3| 20000|
|    Anil|         1| 15000|
|Gurpreet|         2| 18000|
|  Piyush|      null| 40000|
|    null|        10| 38000|
|    null|      null|  null|
+--------+----------+------+

In [0]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Sapan|  31|        10| 30000|
|Priyanka|  30|         8| 25000|
| Supriya|  29|         4| 20000|
|   Sainy|  24|         3| 20000|
|    Anil|  21|         1| 15000|
|Gurpreet|  23|         2| 18000|
|  Piyush|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [0]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
| Supriya| 29|         4| 20000|
|   Sainy| 24|         3| 20000|
|    Anil| 21|         1| 15000|
|Gurpreet| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
### any==how
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
| Supriya| 29|         4| 20000|
|   Sainy| 24|         3| 20000|
|    Anil| 21|         1| 15000|
|Gurpreet| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
##threshold
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
| Supriya| 29|         4| 20000|
|   Sainy| 24|         3| 20000|
|    Anil| 21|         1| 15000|
|Gurpreet| 23|         2| 18000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [0]:
##Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
| Supriya| 29|         4| 20000|
|   Sainy| 24|         3| 20000|
|    Anil| 21|         1| 15000|
|Gurpreet| 23|         2| 18000|
|    null| 34|        10| 38000|
|    null| 36|      null|  null|
+--------+---+----------+------+

In [0]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Sapan|  31|        10| 30000|
|Priyanka|  30|         8| 25000|
| Supriya|  29|         4| 20000|
|   Sainy|  24|         3| 20000|
|    Anil|  21|         1| 15000|
|Gurpreet|  23|         2| 18000|
|  Piyush|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [0]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Sapan|  31|        10| 30000|
|Priyanka|  30|         8| 25000|
| Supriya|  29|         4| 20000|
|   Sainy|  24|         3| 20000|
|    Anil|  21|         1| 15000|
|Gurpreet|  23|         2| 18000|
|  Piyush|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [0]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [0]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [0]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Sapan|  31|        10| 30000|         31|                10|         30000|
|Priyanka|  30|         8| 25000|         30|                 8|         25000|
| Supriya|  29|         4| 20000|         29|                 4|         20000|
|   Sainy|  24|         3| 20000|         24|                 3|         20000|
|    Anil|  21|         1| 15000|         21|                 1|         15000|
|Gurpreet|  23|         2| 18000|         23|                 2|         18000|
|  Piyush|null|      null| 40000|         29|                 4|         40000|
|    null|  34|        10| 38000|         34|                10|         38000|
|    null|  36|      null|  null|         36|                 4|         20000|
+--------+----+----------+------+-----------+------------------+--------------+