### Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [0]:
df_pyspark=spark.read.csv('/FileStore/shared_uploads/astartupcto@gmail.com/test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+

### Filter Operations

In [0]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+--------+---+
|    Name|age|
+--------+---+
|Gurpreet| 29|
|   Payal| 24|
|   Priya| 21|
|   Aayan| 23|
+--------+---+

In [0]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
|Gurpreet| 29|         4| 20000|
|   Payal| 24|         3| 20000|
|   Priya| 21|         1| 15000|
|   Aayan| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Sapan| 31|        10| 30000|
|Priyanka| 30|         8| 25000|
+--------+---+----------+------+